{% extends 'base.html' %}
    {% block title %}
        <title>contact</title>
    {% endblock %}
{% block line %}
    <div class="navi">
    <a href="/v1/ho/">Home</a>
    <a href="/v1/co/">Contact us</a>
    <a href="/v1/ga/">Gallery</a>
    <a href="/v1/lo/">Login</a>
    <a href="/v1/re">Register</a>
    </div>
{% endblock %}

{% block base %}
    <h1> contact us </h1>
    <address>
    You can contact author at <a href="http://www.somedomain.com/contact">
    www.somedomain.com</a>.<br>
    contact Myfitness mobile no:-0000000000</a>.<br>
    You may also want to visit us:<br>
    Myfitness Foundation<br>
    B-702 lotus & lily appartment<br>
    Piple Nilakh near Vishal Nagar <br>
    pune pincode:411057 <br>
    Maharastra
</address>
{% endblock %}