{% extends 'base.html' %}
{% block title %}
    <title>HOME PAGE</title>
{% endblock %}

{% block line %}
    <div class="navi">
    <a href="/v1/ho/">Home</a>
    <a href="/v1/co/">Contact us</a>
    <a href="/v1/ga/">Gallery</a>
    <a href="/v1/lo/">Login</a>
    <a href="/v1/re">Register</a>
    </div>
{% endblock %}

{% block base %}
    <h1>This is home page</h1>
{% endblock %}
{% block home %}
    <h1>Now 25% Off Any Monthly Pass</h1>
    <p>long established fact that a reader will be distracted by the readable content <br>of a page
    when looking at its layout. The point of using Lorem lpsum is that<br>it has a more or less normal
    distription of letters as opposed to using <br>'Content here.content hear'</p>
{% endblock %}
